/* =========================================
   GLOBAL RESET
========================================= */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


/* =========================================
   HTML
========================================= */

html {
  scroll-behavior: smooth;
}


/* =========================================
   BODY
========================================= */

body {
  margin: 0;

  padding: 0;

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  color: #102a43;

  background: #f4f8fc;

  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}


/* =========================================
   LINKS
========================================= */

a {
  text-decoration: none;
}


/* =========================================
   BUTTON
========================================= */

button,
input,
textarea {
  font-family: inherit;
}


/* =========================================
   IMAGES
========================================= */

img {
  max-width: 100%;

  display: block;
}